* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #7cb413;
  border-style: double;
  border-color: black;
  border-width: .1875rem;
  position: sticky;
  top: 0; }
  header h1 {
    padding-left: 3.125rem; }
  header ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    align-items: center;
    list-style: none;
    text-align: center;
    font-size: 24px;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: 500; }
    header ul li a {
      color: black;
      text-decoration: none; }
      header ul li a:hover {
        color: white; }

main {
  background-color: #7db613;
  width: 100vw; }
  main .contenedoruno {
    display: flex;
    width: 100%;
    height: 25rem;
    background-image: url(../assets/img/imagendefonde.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%; }
    main .contenedoruno div h2 {
      text-align: center; }
    main .contenedoruno div button {
      background-color: black; }
      main .contenedoruno div button:hover {
        transform: scale(1.2); }
      main .contenedoruno div button a {
        text-decoration: none;
        color: aliceblue; }
        main .contenedoruno div button a:hover {
          color: #e48900; }
  main .contenedordos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    border-style: double;
    border-color: black;
    border-width: .1875rem; }
    main .contenedordos .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: none;
      border-style: double;
      border-color: black;
      border-width: .0625rem;
      border-radius: .625rem;
      width: 30%;
      text-align: center; }
      main .contenedordos .cards div a img {
        width: 70%;
        padding: 1.5rem , 0;
        background-size: cover; }
  main .seccionlogin, main .imagen {
    border-style: double;
    border-color: black;
    border-width: .0625rem;
    text-align: center;
    height: 30vh; }
  main .imagen {
    height: 80vh; }
    main .imagen div img {
      width: 50%; }
  main .maincontacto {
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh; }
  main .seccionformulario {
    display: grid;
    grid-template-areas: "main";
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    height: 80vh;
    background-color: #cad9e6; }
  main .consulta div input {
    height: 4rem; }
  main .imgproductos div button {
    background-color: #46770e; }
    main .imgproductos div button a img {
      width: 50%; }

footer {
  background-color: #e48900; }
  footer .icons {
    list-style: none; }
    footer .icons li {
      text-align: end; }
  footer .derechosautor p {
    text-align: center; }

@media (max-width: 768px) {
  .contenedordos {
    gap: 4rem; }
  .cards {
    font-size: 8px; }
  .derechosautor {
    font-size: 12px; } }

@media (max-width: 509px) {
  .navbar {
    font-size: 18px; }
  .contenedoruno {
    width: 100%;
    height: 15rem; } }

@media (max-width: 425px) {
  .navbar {
    font-size: 15px; }
  .imagenproductos {
    font-size: 18px; } }

@media (max-width: 365px) {
  .navbar {
    font-size: 10px; }
  .contenedordos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem; } }
