footer{
    background-color: rgb(228, 137, 0);
    .icons{
        list-style: none;
        li{
            text-align: end;
        }
    }
    .derechosautor p{
        text-align: center;
        }
    
}